$primary-300: #03b1ff;
$primary-400: #03A9F4;
$light: #fff;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: $primary-300;
	color: $light;
}

h1, h2, p, a, span, label {
	font-family: 'Open Sans', sans-serif;
}

label, p, span, a {
	color: darken($primary-400, 20%);
}

h1, h2 {
	font-weight: 400;
}

input {
	border: none;
	width: 100%;
	padding: 0 20px;
	font-size: 1.4rem;
	color: $light;
	outline: none;
	height: 8vh;
	background: darken($primary-400, 5%);
	box-shadow: 0 10px  darken($primary-400, 2%);
	position: relative;
	z-index: 1;
}

.header {
	display: flex;
	background: $primary-400;
	align-items: center;
	flex-direction: column;
	height: 30vh;
	font-size: 1.2em;
	justify-content: center;

	h1, h2 {
		margin: 0;
		color: darken($primary-400, 20%);
	}

	h2 {
		font-size: 1em;
		color: darken($primary-400, 15%);
	}
}

.form-candidate {
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2.2em;

	article {
		width: 48%;
		position: relative;
	}

	label {
		margin-bottom: 4px;
		display: block;
	}

	.step {
		width: 33%;
		height: 10px;
		transition: width ease-out .5s;
		background: darken($primary-400, 20);
		position: relative;
		z-index: 9;
	}
}
